
# ── Server ────────────────────────────────────────────────────
NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:5173

# ── MongoDB ───────────────────────────────────────────────────
# Local MongoDB:
MONGO_URI=mongodb+srv://kishansm8660:<Kishan12354@>@cluster0.k0kqp6z.mongodb.net/?appName=Cluster0

# MongoDB Atlas (replace with your connection string):
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/cineconnect?retryWrites=true&w=majority

# ── JWT Secrets ───────────────────────────────────────────────
# User JWT (regular users)
JWT_SECRET=b0ffff3c2299551401bdfcf35ea9be8283c0aab612cc0241c5d813e4f0f2a393
JWT_EXPIRE=30d

# Admin JWT (separate secret — more secure)
# IMPORTANT: Use a DIFFERENT secret from JWT_SECRET
JWT_ADMIN_SECRET=bb48bce8d957159a080651f6c33d0104af90f049e1c81b33d9415f3e6a442d869820144aa6d605b1a83c3f4bb8a6a9a35e10a027d3f92eb3a9b909d5a4cccb0b
JWT_REFRESH_SECRET=cineconnect_refresh_jwt_secret_change_in_production_2024
JWT_REFRESH_EXPIRE=70d

# ── Razorpay ─────────────────────────────────────────────────
RAZORPAY_KEY_ID=rzp_test_SgbtNVqFCJxazn
RAZORPAY_KEY_SECRET=h2c2fWJQOUoqgkAWQlF4QCKU

